
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - shared-net
      - app-network

  jaeger:
    image: jaegertracing/all-in-one:1.55
    container_name: jaeger
    ports:
      - "16686:16686"
      - "14268:14268"
    networks:
      - shared-net
      - app-network

networks:
  shared-net:
    external: true
    name: shared-net
  app-network:
    external: true
    name: my-global-shared-network
